@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.search-page {
  width: 360px;
  padding: 3% 0 0;
  margin: auto;
}
.all-result-div
{

  height: 100%;
  padding-left: 10%;
}

.add-retrieve-titles
{
  text-align: center;
}

.delete-button
{
  float: right;
  transform: translate(10px, -30px);
  width: 10px;
}

.delete-button img
{
  width: 25px;
}

.main-page-icon
{
  width: 35%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.add-retrieve-forms
{
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.form-result a:link {
  text-decoration: none;
}

.form-result a:visited {
  text-decoration: none;
}

.form-result a:hover {
  text-decoration: underline;
}

.form-result a:active {
  text-decoration: underline;
}

.main-page-icon-nav
{
  max-width: 40px;
  transition: 0.3s;

}

.search-page-icon-nav
{
  max-width: 40px;
  margin-right: 50px;
  margin-left: 50px;
  transition: 0.3s;
}

.add-page-icon-nav
{
  max-width: 40px;
  transition: 0.3s;
}

a .main-page-icon-nav:hover
{
  transform: translateY(-3px);

}

a .search-page-icon-nav:hover
{
  transform: translateY(-3px);
}

a .add-page-icon-nav:hover
{
  transform: translateY(-3px);
}

.icons-container
{
  float: right;
  margin-right: 44.5%;
  margin-top: 5px;
}

.table-results
{
  width: 100%;
}

.table-stats-row
{
  text-align: center;
}

.retrieve-page-form
{
  max-width: 66%;
  padding: 0 0 0;
  margin: auto;
  text-align: center;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev
{
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.img-result-page
{
  width: 75%;
  margin: 10%;
}

.table-details
{
  margin-bottom: 25px;
  margin: auto;
}

.main-page-stats
{
  max-width: 50%;
  padding: 3% 0 0;
  margin: auto;
  text-align: center;
  position: relative;
}

.nav-bar-container
{
  background-color: #3d9240;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;

  /*box-shadow: 1px 1px 3px black;*/

  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 9;

}

.nav-disconnect-btn
{
  margin-left: 15px;
  width: 15%;
}

.nav-bar-username
{
  display: inline-block;
  margin-left: 15px;
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.table-details th
{
  text-align: right;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.table-details td
{
  
}

.table-details tr
{
  padding-bottom: 20px;
}

.icon-result-page
{
  width:16px;
  margin-left: 5px;
}
.signup-page
{
  width: 360px;
  padding: 5% 0 0;
  margin: auto;
}
.result-page
{
  width: 360px;
  padding: 0 0 0;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.title-forms-result
{
  margin-top: 100px;
  text-align: center;
}

.form-result
{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 0px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  min-height: 22em;
  max-height: 22em;
  transition: 0.2s;
}

.main-page-form {
  max-width: 50%;
  padding: 8% 0 0;
  margin: auto;
  text-align: center;
  position: relative;
}
h3{
  font-family: "Roboto";
  margin-top: 0px;
  margin-bottom: 30px;
}
.retrieve-page-title
{
  text-align: center;
  padding: 4% 0 0;
}
.add-btn
{
  display: inline-block;
  width: 45%;
}
.search-btn
{
  display: inline-block;
  width: 45%;
}
.form-buttons
{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  /*max-width: 360px;*/
  padding: 55px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-buttons button
{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3s ease;
  cursor: pointer;

}

button
{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
}
button :hover
{
  background: #1a632f;
}

.form-buttons button:hover
{
  transition: 0.5s;
  background: #368A37;
}

.title-forms
{
  margin-bottom: -50px;
  text-align: center;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  /*max-width: 360px;*/
  margin: 0 auto 30px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-top: 75px;
}
.form-details
{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  /*max-width: 360px;*/
  margin: 0 auto 30px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  min-height: 660px;
}

.form-modify
{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  /*max-width: 360px;*/
  margin: 0 auto 30px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  /*min-height: 660px;*/
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-details input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-modify input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form-details button
{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-modify button
{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #F2F2F2;
  background-image: none;
}

.select-modify
{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #F2F2F2;
  background-image: none;
  color: #000000;
}

.select-modify::after
{
  background-color: #eaeaeafc;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 17em;
  height: 3em;
  line-height: 3;
  background: #F2F2F2;
  overflow: hidden;
  border-radius: .25em;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.create-form input
{
  max-width: 50%;
}

.title-div
{
  width: 100%;
  height: 25px;
}

.label-left
{
  float: left;
  margin-left: 12%;
}

.label-right
{
  float: right;
  margin-right: 12%;
}


.select-form
{
  float: left;
}

.retrieve-link
{
  margin-bottom: 45px;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.back-btn
{
  background-color: #289446;
  width: 66%;
  margin-bottom: 25px;
  border: 0;
  transition: 0.5s;
}
.retrieve-btn
{
  background-color: #289446;
  width: 100%;
  margin: 0 auto;
  border: 0;
  transition: 0.5s;
  color: white;
  font-size: large;
  height: 40px;
}
.back-btn :hover
{
  background-color: #1a632f;
  transition: 0.5s;
}
.back-btn-div
{
  text-align: center;
  margin: 0 auto;
}

.back-btn-div :hover
{
  background-color: #1a632f;
  transition: 0.5s;
}

.back-btn-div img
{
  width: 25px;
  margin: 7px;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #cfcfcf;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
  margin: 0;
}